<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dwd3.css')}}">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;justify-content: center;align-items: center;">
        <div style="text-align: left;"class="login-form">
            <a href="{{ url_for('home') }}"><img style="height: 100px;width:auto;"src="{{ url_for('static', filename='image (5).png') }}"></a>
            <div style="margin-bottom: 20px;text-align: center;">
                <div style="display: inline-block;font-size:35px; color:black; ">
                    Log in
                </div>
                    <p style="color:black;font-size:25px;display: inline-block;margin-left: 330px;">or<a href="{{ url_for('signup') }}" style="font-size:25px; color:blue;text-decoration: none;"> create an account</a>
                </p>
            </div >
            <form style="margin-bottom: 20px;text-align: center;" method="POST">
                <!--p style="font-size: 40px;">Username/Email</p-->
        
                <input  type="email" placeholder="Email Adress"name="user" id="user" style="width:600px; height:50px;font-size: 35px; ">
              
                <!--p style="font-size: 40px;">Password</p-->
                <br><p></p>
         
                <input type="password" placeholder="Password"name="password" id="password" style="width: 600px;height:50px;font-size: 35px; ">
                <div style="display: flex; justify-content: center; margin-top: 30px;">
                <input type="submit" name="submit"value="Sign In" style="font-size: 30px;text-align: center;" >
                </div>
            </form>
        
            {% if login_error %}
                <p style="color: red;">Incorrect username or password.</p>
                <p style="font-size: 20px">Log in status: {{statuslogin}}</p>
            {% endif %}
            <div style="text-align: center;margin-top:20px;">
                <a href="{{ url_for('home') }}" style="font-size: 30px;color:black;text-decoration: none;">&#60;Back</a></div>
    </div>
</body>
</html>
