<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static',filename='dwd3.css')}}">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,
        h1,
        button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor,
        .fa-coffee {
            font-size: 200px
        }
    </style>
</head>

<body style="background-color: rgb(208, 35, 35)">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card w3-left-align w3-large">
            <a href="{{ url_for('home') }}"><img class="w3-bar-item w3-button w3-padding-large "
                    style="height: 100px;width:auto"
                    src="{{ url_for('static', filename='nsc_logo_dark_theme-PhotoRoom.png-PhotoRoom.png') }}"></a>
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue"
                href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="{{ url_for('atssim') }}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="height: 100px;width:auto;font-size:40px;align-items: center;">Research</a>
            <a href="{{ url_for('trade') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="height: 100px;width:auto;font-size:40px;align-items: center;">Live Trade</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white"
                style="height: 100px;width:auto;font-size:40px;align-items: center;">Portfolio</a>
            <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="height: 100px;width:auto;font-size:40px;float: right;">Log Out</a>
        </div>
    </div>


    <div class="container" style="width: 90%;margin-left:5%;margin-bottom:30px;margin-top:200px">
        <div class="containerv" style="width: 40%;">
            <div class="boxv" style="width: 100%;height: 520px;margin-bottom:0px;background-color: white">
                <div style="font-size:20px;margin-left:30px;margin-top: 20px;margin-bottom: 20px;">AVAILABLE CASH</div>
                <div style="font-size:40px;margin-left:30px;margin-bottom: 20px;"> {{ava}} THB</div>
                <div style="font-size:30px;margin-left:30px;margin-top: 20px;margin-bottom: 10px;">Your current stock</div>
                <div style="font-size:20px;margin-left:30px;margin-bottom: 20px;display:inline-block;width: 150px;">Stockname</div>
                <div style="font-size:20px;margin-bottom: 20px;display:inline-block;width: 150px;">Amount</div>
                <div style="  height: 230px;overflow-x: hidden;"> 
                {% for i in range(length) %}
                <div style="margin-left: 30px;">
                <div style="font-size: 20px;font-weight: bold;width: 150px;display: inline-block;">{{ resultList[i]}}
                </div>
                <div style="font-size: 20px;font-weight: bold;width: 130px;display: inline-block;"> {{ resultLista[i]}}</div>
                </div>

                <br>
                {% endfor %}</div>
            </div>
        </div>

        <div class="box" style="width: 60%;height: 520px;background-color: white">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" style="padding:20px;">
                <div id="tradingview_f85ab" style="height: 480px"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "autosize": true,
                            "symbol": "NASDAQ:AAPL",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "dark",
                            "style": "1",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "withdateranges": true,
                            "allow_symbol_change": true,
                            "save_image": false,
                            "container_id": "tradingview_f85ab"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
    <div class="container" style="width:90%;margin-left: 5%;margin-bottom: 100px">
        <div style="width:40%;background-color: white;border: 1px solid black;">
            <div style="font-size:30px;;display: inline-block;margin-left: 30px;margin-top: 30px;margin-bottom: 30px;width: 230px;font-weight: bold;">Method</div>
            <div style="font-size:30px;display: inline-block;font-weight: bold;">Select Market</div>
            <form action="" method="POST">
                <select name="selectmethod" style="height:50px; width:200px;margin-left: 30px;  font-size: 30px;">
                    <option value="NONE">NONE</option>
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                </select>
                <select name="selectmarket" style="height:50px; width:200px;margin-left: 30px; font-size: 30px;">
                    <option value="NONE">NONE</option>
                    <option value="THAI">THAI</option>
                    <option value="US">US</option>
                </select>
                <input type="text" name="namebuy" id="namebuy" placeholder="Stock Name"
                    style="height:50px; width:250px;margin: 30px; margin-left: 30px; font-size: 30px;text-transform: uppercase;">
                <br>
                <input type="number" name="amount" id="amount" placeholder="Amount"
                    style="height:50px; width:200px ;margin-left: 30px; font-size: 30px;text-transform: uppercase;">
                <input type="submit" name="order" value="ORDER" style="display: inline;font-size: 30px;margin-left: 30px;height:50px;">
            </form>
            <div style="margin-bottom: 30px">
                <p style="font-size:30px;margin-left:30px;margin-bottom: -10px;text-transform: uppercase;">Stockname :
                    {{namebuy}}</p>
                <p style="font-size:30px;margin-left:30px;margin-bottom: -10px;">Method : {{selectmethod}}</p>
                <p style="font-size:30px;margin-left:30px;margin-bottom: -10px;">Amount : {{amount}}</p>
                <p style="font-size:30px;margin-left:30px;margin-bottom: -10px;">Price per stock : {{price}}</p>
                <p style="font-size:30px;margin-left:30px;margin-bottom: -10px;">Total Price : {{cost}}</p>
            </div>
            <script>
                function showConfirmation() {
                    return confirm("Are you sure you want to place this order ");
                }
            </script>
            {% if show_message %}
            <form id="confirm" action="" method="POST" onsubmit="return showConfirmation()"><input type="submit"
                    name="confirm" value="Confirm" style="display: inline;margin-left:30px;font-size: 30px;height:50px;margin-bottom:30px;"></form>
            {% endif %}
            {% for item in resultsignal %}

            <div style="font-size: 20px;font-weight: bold;width: 300px;display: inline-block;">{{ item[0]}}
            </div>
            <div style="font-size: 20px;font-weight: bold;display: inline-block;"> {{ item[1]}}</div>
            <br>
            {% endfor %}

        </div>
        <div style="width:30%;background-color: white;border: 1px solid black;">
            <div style="margin-left: 30px;margin-top: 30px;margin-bottom: 15px;">
                <p style="font-size: 30px;font-weight: bold;">Your buy order</p>
                <div style="font-size: 30px;width: 100px;display: inline-block;">Name</div>
                <div style="font-size: 30px;width: 130px;display: inline-block;">Amount</div>
                <div style="font-size: 30px;width: 100px;display: inline-block;">Price</div>
            </div>
            {% for item in buyorder %}
                    <div style="margin-left: 30px;">
                    <div style="font-size: 20px;font-weight: bold;width: 100px;display: inline-block;">{{ item[0]}}
                    </div>
                    <div style="font-size: 20px;font-weight: bold;width: 130px;display: inline-block;"> {{ item[2]}}</div>
                    <div style="font-size: 20px;font-weight: bold;width: 100px;display: inline-block;"> {{ item[1]}}</div></div>

                    <br>
                    {% endfor %}
        </div>
        <div style="width:30%;background-color: white;border: 1px solid black;">
            <div style="margin-left: 30px;margin-top: 30px;margin-bottom: 15px;">
                <p style="font-size: 30px;font-weight: bold;">Your sell order</p>
                <div style="font-size: 30px;width: 100px;display: inline-block;">Name</div>
                <div style="font-size: 30px;width: 130px;display: inline-block;">Amount</div>
                <div style="font-size: 30px;width: 100px;display: inline-block;">Price</div>
            </div>
            {% for item in sellorder %}
                    <div style="margin-left: 30px;">
                    <div style="font-size: 20px;font-weight: bold;width: 100px;display: inline-block;">{{ item[0]}}
                    </div>
                    <div style="font-size: 20px;font-weight: bold;width: 130px;display: inline-block;"> {{ item[2]}}</div>
                    <div style="font-size: 20px;font-weight: bold;width: 100px;display: inline-block;"> {{ item[1]}}</div></div>

                    <br>
                    {% endfor %}</div>
    </div>
 
</body>

</html>