<!--introduction: first page-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dwd3.css')}}">
    <title>Algorithmic Trading</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>

<body style="font-family: sans-serif;font-size: 20px;">
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card w3-left-align w3-large">
            <img  class="w3-bar-item w3-button w3-padding-large "style="height: 100px;width:auto" src="{{ url_for('static', filename='nsc_logo_dark_theme-PhotoRoom.png-PhotoRoom.png') }}">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="height: 100px;width:auto;font-size:40px;text-alignment:right;float: right;">Log In</a>
          <a href="{{ url_for('signup') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"style="height: 100px;width:auto;font-size:40px;text-alignment:right;float: right;">Sign up</a>
        </div>
        </div> 
     


    <div class="box2" style="background-color:whitesmoke;justify-content: center;align-items: center;margin-top:100px">
        <div style="width:50%; text-align: center; ">
            <h4 style="margin-left:10%;font-size: 60px;text-align:left;color:coral">Stock Algorithmic Trading</h4>
            <div style="margin-left:10%;width:80%;text-align:left;margin-bottom:10px;font-size: 35px;line-height: 1.2;font-family: PlayfairDisplay;">Unleash the potential of algorithmic trading and start trading smarter with Algoritrade-X 
            </div>
            <div style="margin-left:10%;width:80%;text-align:left;margin-bottom:20px;font-size: 35px;line-height: 1.2;font-family: PlayfairDisplay;">
                    "An Algorithmic Stock Trading System using Differential Evolution"</div>
            <div style="margin-left:10%;width:80%;text-align:left;margin-bottom:30px;font-size: 20px;line-height: 2;">Algoritrade-X is FREE to join and use</div>
            <a href="/signup"
                style="border-radius: 3px;margin:auto;font-weight:  bold;color:black;text-decoration: none;display: block;background-color: rgb(252, 161, 71);width:fit-content; padding:10px ;">GET STARTED</a>
        </div>
        <div style="width:50%; text-align: center;padding: 20px;">
            <img style="width:800px;height: auto;" src="{{ url_for('static', filename='360_F_443257431_gYH8fszWFcERlY5JxVDpRFtPHjiwp1Tr.jpg') }}">
        </div>
    </div>
    <div class="box2" style="background-color:white;">
        
        <div style="width:100%;margin-left: 30px; text-align: center;text-align: justify;">
            <p style="text-align: left;font-size: 30px;font-weight: bold;">Introduction</p>
            <p style="margin-left: 20px;margin-right: 50px;"> Investing aims to bring in higher returns than saving, and one way of achieving this goal is through 
                stock market investments, that provides an opportunity for substantial profits. However, the total return from 
                such investments, including dividends and margin profit or loss, depending on various factors including 
                company performance, economic indicators, industry trends, company news, market sentiment, political 
                factors, etc. In order to achieve higher returns, investors need to learn and acquire helpful information and 
                experience to make the best investment decisions.
                Various tools are available to assist investors in making trading decisions. One such tool is technical 
                analysis, which is a trading approach that involves analyzing statistical trends derived from trading activity, 
                such as price movements and trading volumes, to evaluate investments and identify potential trading 
                opportunities. Technical analysis is frequently employed to forecast stocks, leading to less risky investments.
                In recent years, more than 70% of trading in the US has become automated through algorithmic 
                trading systems. This approach has gained popularity in the financial sector due to its advantages over manual 
                trading, including lower analysis time and no emotional decision-making. While various technical indicators are used among investors to make decisions on whether to buy or sell a stock, the trading signals produced are 
                not always reliable and may even conflict.
                To address this problem, this study proposes the implementation of the Differential Evolution 
                algorithm to optimize the weight of a set of trading signals, consisting of buy, sell, or hold, and trading 
                thresholds. This will provide the best possible set of trading strategies called the "Algorithmic Trading System: 
                ATS". The algorithm will learn from historical data as inputs, which are then used to calculate technical 
                indicators and generate corresponding trading signals. The weighted trading signals, together with the decision
                threshold, will then be used to make decisions. The proposed algorithm's returns will be compared with the 
                traditional buy-and-hold (B&H) strategy, which is a passive investment strategy widely used by most mutual 
                funds, and individual signals to evaluate the ATS's performance</p>
        </div>
    </div>
    <div class="box2" style="background-color:white;">
        
        <div style="width:50%;margin-left: 30px; text-align: center;text-align: justify;">
            <p style="text-align: left;font-size: 30px;font-weight: bold;">Abstract</p>
            <p style="margin-left: 20px;margin-right: 50px;"> Investing in the stock market can be challenging and risky due to its volatility and various factors 
                that can affect stock prices. To mitigate these challenges, many investors use technical indicators, which are 
                derived from trading price and volume data, to make better decisions on when to buy or sell stocks. However, 
                the choice of technical indicators can greatly impact the accuracy of trading signals. This study proposes an 
                Algorithmic Trading System that uses the Differential Evolution algorithm (DE) to optimize the weight of 
                each trading signal from selected technical indicators and trading thresholds of stock trading. The weighted 
                trading signals, together with the trading threshold, are then used to make investment decisions. The proposed 
                approach is evaluated using historical daily stock information from NYSE and Nasdaq Stock Market from 
                2015 to 2019. The performance of the DE-weighted signals is compared to a buy-and-hold strategy and 
                individual signals. The results show that the proposed Algorithmic Trading System (ATS) can significantly 
                improve investment profits, even with a 0.2% commission fee on all transactions involving buying and selling.</p>
        </div>
        <div style="width:50%; text-align: center;margin-left: 20px; ">
            <p style="font-size: 30px;text-align: left;font-weight: bold;">Methodology</p>
            <img style="width:90%;height: auto;" src="{{ url_for('static', filename='Trading Signal.png') }}">
        </div>
    </div>
    
    <div style="background-color: whitesmoke;">
        <div style="font-size: 30px;font-weight: bold;padding: 20px;margin-left: 30px;">Developer</div>
    <div class="box3">
        <div style="width:25%; text-align: center; margin-top: 20px;">

            <img style="height: 200px;width: auto; border-radius: 50%;"src="{{ url_for('static', filename='64010077_240.png') }}">
            <p>Apisan Jongpermwattanapol</p>
        </div>
        <div style="width:25%; text-align: center;margin-top: 20px;">
            <img style="height: 200px;width: auto; border-radius: 50%;"src="{{ url_for('static', filename='64010037_240.png') }}">
            <p>Nantapak Kuaymethakul</p>
        </div>
        <div style="width:25%; text-align: center;margin-top: 20px;">
            <img style="height: 200px;width: auto; border-radius: 50%;"src="{{ url_for('static', filename='64010033_240 (1).png') }}">
            <p>Thiti Songponwarin</p>
        </div>
    </div></div>
    <div class="box5"style="background-color: white;">
        <div style="text-align: center;"> ATS Simulator</div>
    </div>

</body>

</html>