<!--signup-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dwd3.css')}}">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;justify-content: center;align-items: center;">
        <div style="text-align: left;"class="login-form">
            <!--p style="text-align: center;font-size: 50px;font-weight: bold;"class="loginheader" style>Sign up </p-->
            <a href="{{ url_for('home') }}"><img style="height: 100px;width:auto;"src="{{ url_for('static', filename='image (5).png') }}"></a>
            <div style="margin-bottom: 20px;text-align: center;">
                <div style="display: inline-block;font-size:35px; color:black; ">
                    Register
                </div>
                    <p style="color:black;font-size:25px;display: inline-block;margin-left: 440px;">or<a href="{{ url_for('login') }}" style="font-size:25px; color:blue;text-decoration: none;"> Log in</a>
                </p>
            </div>
            <form  style="text-align: center;"action="/signup" method="POST">
        
                <input  type="email" placeholder="Email Address"name="usersign" id="usersign" style="width:600px; height:60px;font-size:30px; ">
                <br><p></p>
                <input  type="password" placeholder="Password"name="passwordsign" id="passwordsign" style="width:600px; height:60px;font-size: 30px; ">
                <br><p></p>
                <input  type="password" placeholder="Confirm Password"name="conpasswordsign" id="conpasswordsign" style="width:600px; height:60px;font-size: 30px; ">
                <br><p></p>

                <div style="display: flex; justify-content: center; margin-top: 30px;">
                <input type="submit" name="submit"value="Signup" style="font-size: 30px;text-align: center;" >
                </div>
            </form>
            <p style="font-size: 20px;">Signup status: {{statussignup}}</p>
            <div style="text-align: center;margin-top:20px;">
                <a href="{{ url_for('home') }}" style="font-size: 30px;color:black;text-decoration: none;">&#60;Back</a></div>
            
        </div>
    </div>
</body>
</html>