body{
    padding: 3%;
    margin-left: 200px;
    background-color: white;
    font-family: sans-serif;
}
.algotrade{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
hr{
    height: 2px;
    margin-top: -20px;
    background-color: black;
}
.containerexample{
    display: flex;
    text-align: center;
    margin: auto;
    border:black solid 1px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
.login-form{
    margin: auto;
    padding: 20px;
    border: black solid 2px ;
    text-align: center;
    width: fit-content;
    font: 40px black bold;
}
.form{
    text-align: center;
    font: 30px black bold;
    
    
}